<!-- image -->
<figure {{ with .Get "class" }}class="{{.}}" {{ end }}>
    {{ $imgName := .Get "src" }}
    {{ if isset .Params "thumbnailWidth"}}
        {{ .Scratch.Set "thumbnailWidth" (.Get "thumbnailWidth") }}
    {{ else }}
        {{ .Scratch.Set "thumbnailWidth" "1200x"}}
    {{ end }}
    {{ $originalImage := .Page.Resources.GetMatch $imgName }}
    {{ $resizedImage := $originalImage.Resize (.Scratch.Get "thumbnailWidth") }}
    <a href="{{ $originalImage.RelPermalink }}">
        <span class="caption-wrapper">
            <img class="caption" style="max-width: 100%; height: auto;" src="{{ $resizedImage.RelPermalink }}" width="{{ $resizedImage.Width }}" height="{{ $resizedImage.Height }}" alt="{{ .Get "title"}}">
            {{ if eq (.Get "setCaption") "1" }}
            <span class="caption-text">{{ .Get "title" }}</span>
            {{ end }}
        </span>
    </a>
</figure>
<!-- image -->